@import url('bootstrap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.tombola-title {
  font-family: 'Gochi Hand', cursive;
}

.tombola-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 6px;
    max-width: 500px;  
    margin: 0 auto;    
}

.tombola-cell {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid #333;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem; 
    font-weight: 700;
}

.tombola-cell .active {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid #333;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem; 
    font-weight: 700;
}

.tombola-extraction{
  display: flex;
  justify-content: center;   
  gap: 15px;               
  margin-top: 2rem; 
}
